pytest==3.4.1
requests==2.18.4
futures==3.2.0
Django==1.11.10
Pillow==2.4.0
pymavlink==2.2.8
django-tastypie==0.14.1
python-mimeparse==1.6.0
markdown==2.6.11
django-filter==1.1.0
djangorestframework==3.8.2

coreapi==2.3.3
coreschema==0.0.4
itypes==1.1.0
uritemplate==3.0.0

Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.14.1
click==6.7.*
flask==1.0.2
itsdangerous==0.24.0

flask-socketio==3.0.0
python-engineio==2.1.0
python-socketio==1.9.0
